### Ny Database

In [1]:
-- Create a new database called 'ForlagetFanzy_Opgave'
-- Connect to the 'master' database to run this snippet
USE master
GO
-- Create the new database if it does not exist already
IF NOT EXISTS (
    SELECT [name]
        FROM sys.databases
        WHERE [name] = N'ForlagetFanzy_Opgave'
)
CREATE DATABASE ForlagetFanzy_Opgave
GO

### Forfattertabellen

In [7]:
-- Create a new table called '[Forfatter]' in schema '[dbo]'

USE [ForlagetFanzy_Opgave]

-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[Forfatter]', 'U') IS NOT NULL
DROP TABLE [dbo].[Forfatter]
GO

CREATE TABLE [dbo].[Forfatter]
(
    [ID] INT IDENTITY(1,1) NOT NULL PRIMARY KEY, 
    [First_name] NVARCHAR(50) NOT NULL,
    [Surname] NVARCHAR(50) NOT NULL,
    [email] NVARCHAR(50) UNIQUE NOT NULL
);
GO

-- Insert rows into table 'Forfatter' in schema '[dbo]'
INSERT INTO [dbo].[Forfatter]
(
 [First_name], [Surname], [email]
)
VALUES
( 
    'John', 'Smith', 'johnsmith1982@hotmail.com'
),
( 
    'Erik', 'Torssøn', 'eriktorssoen1956@hotmail.com'
),
( 
    N'Δημήτριος', N'Χαντζιάρας', 'dimitrios.ch@greeksouvlaki.gr'
),
( 
    N'Влади́мир', N'Медве́дев', 'vladimir.medvedev@cccp.ru'
),
( 
    'Guðrún', 'Þórðardóttir', 'thegudrunsaga@gmail.com'
)

-- View the table
SELECT TOP(10) [ID], [First_name], [Surname], [email]
FROM [dbo].[Forfatter]

ID,First_name,Surname,email
1,John,Smith,johnsmith1982@hotmail.com
2,Erik,Torssøn,eriktorssoen1956@hotmail.com
3,Δημήτριος,Χαντζιάρας,dimitrios.ch@greeksouvlaki.gr
4,Влади́мир,Медве́дев,vladimir.medvedev@cccp.ru
5,Guðrún,Þórðardóttir,thegudrunsaga@gmail.com

### Bogtabellen

In [ ]:
-- Create a new table called '[bog]' in schema '[dbo]'

USE [ForlagetFanzy_Opgave]

-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[bog]', 'U') IS NOT NULL
DROP TABLE [dbo].[bog]
GO

CREATE TABLE [dbo].[bog]
(
    [ID] INT IDENTITY(1,1) NOT NULL PRIMARY KEY, 
    [Title] NVARCHAR(50) NOT NULL,
    [Summary] NVARCHAR(1000) NOT NULL,
    [ISBN13] CHAR(13) UNIQUE NOT NULL,
    [Sales_price] DECIMAL(10,2) NOT NULL
);
GO

-- Insert rows into table 'bog' in schema '[dbo]'
INSERT INTO [dbo].[bog]
(
 [Title], 
 [Summary], 
 [Sales_price], 
 [ISBN13]
)
VALUES
( 
    'The anodic cathode', 
    'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.',
    250.45,
    '9781234567897'
),
( 
    'The dry sea', 
    'Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.',
    300.99,
    '9781234567425'
),
( 
    'The anabatic katabasis', 
    'Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.',
    99.15,
    '9781234567322'
),
( 
    'The magic trombone', 
    'Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.',
    420.44,
    '9781234567758'
),
( 
    'Also sprach Herr Lustra', 
    'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.',
    666.99,
    '9781234567666'
)

-- View the table
SELECT TOP(10) [ID], [Title], [Summary], [Sales_price], [ISBN13]
FROM [dbo].[bog]

ID,Title,Summary,Sales_price,ISBN13
1,The anodic cathode,"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.","250,45",9781234567897
2,The dry sea,"Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.","300,99",9781234567425
3,The anabatic katabasis,Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.,"99,15",9781234567322
4,The magic trombone,"Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.","420,44",9781234567758
5,Also sprach Herr Lustra,"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.","666,99",9781234567666